# ===== ROS 2 / colcon =====
build/
install/
log/

# colcon logs
*.log

# ===== CMake =====
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.egg-info/

# ===== Editors =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db
